.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}



/*NAV*/
.navbar{
    -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
	background: rgb(30,30,31); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,30,31,1) 0%, rgba(35,35,38,1) 50%, rgba(28,28,28,1) 51%, rgba(28,28,28,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,30,31,1) 0%,rgba(35,35,38,1) 50%,rgba(28,28,28,1) 51%,rgba(28,28,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,30,31,1) 0%,rgba(35,35,38,1) 50%,rgba(28,28,28,1) 51%,rgba(28,28,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1f', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

.navbar-nav{
	float: none;
	width: 70%;
	margin: 0 auto;
}
.nav-li-text{
	width: 12.5%;
	text-align: center;
	margin-top: 1.5%;
	padding-bottom: 1.5%;
}
.nav-li-icon{
	width: 2%;
	margin: 1%;
	margin-top: 1.2%;
	max-width: none;
}
.nav > li > a > img{
	max-width: 100%;
}


.nav-li-text a{
    transition: all 0.2s ease-out;
}
.nav-li-text a:hover{
    transform: scale(1.1);
}

.nav-li-icon a img{
    transition: all 0.2s ease-out;
}
.nav-li-icon a img:hover{
    transform: scale(1.3);
	filter: contrast(150%);
}
.navbar-fixed-top .navbar-collapse{
	max-height: none;
}


.logo-box img , .icon-box > a > img , .store-box > a > img{
    transition: all 0.2s ease-out;
}
.logo-box img:hover , .icon-box > a > img:hover , .store-box > a > img:hover{
    transform: scale(1.2);
}
.logo-box img:hover , .icon-box > a > img:hover , .store-box > a > img:hover{
    filter: contrast(150%);
}

nav.navbar.bootsnav{
	border: none;
	background-color:transparent;
}

nav.navbar.bootsnav .navbar-toggle{
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 36px;
	line-height: 0;
	position: relative;
	top: 5px;
	color: #8e5e0d;
}

nav.navbar.bootsnav ul.nav > li > a{
	font-size: 16px;
	color: white;
	text-shadow:  0 0 0.5em #ffc35b,0 0 0.5em #a97110;
	background-color: transparent;
	outline: none;
	padding: 0;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	width: 100%;
	text-align: center;
	background-color:#282829; 
	border: solid 1px #2d2d2d;
	border-top: solid 4px #ffc35b;
	margin: 0;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li {
	border-bottom: solid 1px #2d2d2d;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
	color: white;
	text-shadow:  0 0 0.5em #ffc35b,0 0 0.5em #a97110;
	border-bottom: none;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
	top: 1px;
}

/*Pad2*/
@media(min-width:768px) and (max-width:1720px) {
	.navbar-nav{
		width: 100%;
	}
	.dropdown-menu{
		min-width: 0;
	}

}


/*Mobile*/
@media(min-width:0px) and (max-width:767px) {
	.noscroll {
		overflow: hidden !important;
	}
	.fixWindow {
		position: fixed;
		width: 100%;
	}

	
	.nav-btn{
		position: relative;
		width: 40%;
		max-width: 120px;
		padding-top: 2%;
		float: right;
	}
	nav.navbar.bootsnav .navbar-header{
		margin-bottom: 15px;
	}
	nav.navbar.bootsnav{
		position: fixed;
		width: 100%;
	}
	.nav-li-text a {
		transition: none;
		background-color: none;
	}
	.nav-li-text a:hover{
		transform: none;
		filter: none;
	}
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{
		background-color: #1f1f1f;
		position: fixed;
    }
	.nav-li-text{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.nav-li-text2{
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
		margin-left: -10px;
	}
	.nav-li-icon{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.nav > li > a > img{
		width: 15%;
	}
	nav.navbar.bootsnav.navbar-mobile ul.nav{
		border: none;
	}
	nav.navbar.bootsnav .navbar-nav > li > a{
		border-top: solid 1px #222222;
		border-bottom: solid 1px #232323;
	}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
		padding: 0 !important;
		background-color: #2e2e2e;
	}
	nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
		top: 0px;
	}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a{
		color: white;
		border-bottom: solid 1px #444445;
		border-top: solid 1px #1b1b1b;
	}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > ul > li > a{
		background-color: #404040;
		border-bottom: solid 1px #575757;
		border-top: solid 1px #393939;
	}
	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > ul > li > ul > li > a{
		background-color: #515151;
		border-bottom: solid 1px #6e6e6e;
		border-top: solid 1px #4b4b4b;
	}
	nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li {
		border-bottom: none;
	}
    body.side-right > .wrapper > .navbar-fixed-top{
        margin-left: 280px;
        margin-right: -280px !important;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
	nav.navbar.bootsnav .navbar-nav > li:first-child > a{
		border-top: solid 1px #1f1f1f;
	}

	
}

