@charset "utf-8";
.menubar {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.menubar li a {
  float: left;
  width: 18%;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 1%;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.menubar li a:hover,
.menubar li.active a,
.menubtn-active {
  float: left;
  width: 18%;
  border-radius: 7px;
  margin: 0 1%;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background: #483865; /* Background color for active and hover state */
  color: #f0e68c; /* Light yellow text color */
}

.menubar li a,
.menubtn {
  float: left;
  width: 18%;
  border-radius: 7px;
  margin: 0 1%;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  background: #3a3367; /* Background color for default state */
  color: #6e6c96; /* Light purple text color */
  border: 1px solid #6e6c96; /* Light purple border */
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #6e6c96;
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #6e6c96;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #6e6c96;
}

.btn-tab {
  float: right;
  list-style: none;
  width: 18%;
  border-radius: 3px;
  margin: 1% 1%;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}

.btn-tab:hover {
  filter: brightness(1.2);
}

.btn-tab:hover {
  background-color: #787878;
}

.tab-content table {
  width: 100%;
}

.tab-content tr {
  border-bottom: solid #333333 1px;
  height: 50px;
}

.tab-content td:nth-child(odd) {
  width: 20%;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.tab-content td:nth-child(even) {
  width: 60%;
  text-align: left;
  color: white;
  vertical-align: middle;
}

.tab-content td:nth-child(even) a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 17px;
  line-height: 1.4;
}
.form-box {
  position: relative;
  width: 30%;
  margin: 2% auto;
  padding: 0;
  text-align: center;
}
.form-btn-left {
  position: relative;
  width: 33%;
  float: left;
  padding: 0;
}
.form-btn-right {
  position: relative;
  width: 33%;
  float: left;
  padding: 0;
}
.form-center {
  position: relative;
  width: 34%;
  float: left;
  padding: 0;
}

/*PC*/
@media (min-width: 1200px) and (max-width: 1720px) {
  .tab-content tr {
    height: 35px;
  }
  .form-box {
    width: 50%;
    margin: 5% auto;
  }
}

/*Pad*/
@media (min-width: 992px) and (max-width: 1199px) {
  .form-box {
    width: 80%;
    margin: 5% auto;
  }
  .tab-content tr {
    height: 30px;
  }
}
/*Pad End*/

/*Pad2*/
@media (min-width: 768px) and (max-width: 991px) {
  .form-box {
    width: 80%;
    margin: 5% auto;
  }
}
/*Pad2 End*/

/*Mobile*/
@media (min-width: 0px) and (max-width: 767px) {
  .tab-content td:nth-child(odd) {
    width: 20%;
  }
  .tab-content td:nth-child(even) {
    width: 40%;
  }
  .btn-tab {
    width: 30%;
  }
  .form-box {
    width: 80%;
    margin: 3% auto 0;
  }
  .menubar li a:hover,
  .menubar li.active a,
  .menubtn-active {
    font-size: 14px;
  }
  .menubar li a {
    font-size: 14px;
  }
  .tab-content td:nth-child(even) a {
    font-size: 14px;
  }
  .tab-content p {
    font-size: 14px;
  }
}
/*Mobile End*/
