@charset "utf-8";
.sub-menu-dt {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #eee8bf;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 30px;
  cursor: pointer;
  border-top: solid #4e3b72 1px;
}
.sub-menu-dt:first-of-type {
  border-top: none;
}
/* Triangle list item */
.sub-menu-dt:before {
  content: '';
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #f0c372;
  display: block;
  height: 0;
  width: 0;
  top: 15px;
  left: -30px;
  position: relative;
}
.sub-menu-dt2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: white;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 30px;
  cursor: pointer;
  border-top: solid #595858 1px;
}
/* Triangle list item */
.sub-menu-dt2:before {
  content: '';
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: #f0c372 transparent transparent transparent;
  display: block;
  height: 0;
  width: 0;
  top: 15px;
  left: -30px;
  position: relative;
}

.sub-menu-dd {
  padding: 20px;
  background-color: #4e3b72;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  border: solid 1px #af9be3;
  border-radius: 5px;
  margin: 20px 0 30px;
  position: relative;
  cursor: pointer;
}
/* Triangle in definition container */
.sub-menu-dd:after,
.sub-menu-dd:before {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.open {
}

.sub-menu-dd:after {
  border-color: rgba(136, 183, 213, 0);
  border-color: transparent;
  border-bottom-color: #4e3b72;
  border-width: 15px;
  margin-left: -15px;
}
.sub-menu-dd:before {
  border-color: rgba(194, 225, 245, 0);
  border-color: transparent;
  border-bottom-color: #af9be3;
  border-width: 17px;
  margin-left: -17px;
}
.sub-menu-dd > p {
  font-size: 16px;
}
.dt-hide {
  display: none;
}

.sub-menu-dd img {
  width: 90%;
  padding: 2% 0;
}

.sub-tab li,
.sub-tab2 li,
.sub-mini-tab li {
  width: 28%;
  margin: 1% 2%;
  float: left;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #4e3b72; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #4e3b72 0%,
    var(--color2) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #4e3b72 0%,
    var(--color2) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #4e3b72 0%,
    var(--color2) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e3b72', endColorstr='var(--color2)', GradientType=0); /* IE6-9 */
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.75), inset 0 0 3px #af9be3;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  color: #f0e68c; /* Light yellow text color */
}

.sub-tab2 li {
  width: 46%;
}

.sub-mini-tab li {
  width: 24%;
  border-radius: 50px;
}

.sub-tab a:hover,
.sub-tab li.active a,
.sub-tab2 a:hover,
.sub-tab2 li.active a,
.sub-mini-tab a:hover,
.sub-mini-tab li.active a {
  width: 100%;
  display: block;
  border-radius: 10px;
  background-color: rgba(87, 87, 87, 0.3);
  font-size: 18px;
  color: #f0e68c; /* Light yellow text color */
}

.sub-mini-tab a:hover,
.sub-mini-tab li.active a {
  border-radius: 45px;
}

/*Mobile*/
@media (min-width: 0px) and (max-width: 767px) {
  .sub-menu-dt {
    font-size: 14px;
  }
  .sub-menu-dd > p {
    font-size: 14px;
  }
  .sub-menu-dd:after,
  .sub-menu-dd:before {
    left: 12%;
  }
  .sub-menu-dd img {
    width: 100%;
  }
  .sub-tab {
    margin: 0;
  }
  .sub-tab li {
    width: 32%;
    margin: 0.5%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }
  .sub-tab2 li {
    width: 46%;
    margin: 0.5%;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }
  .sub-tab a:hover,
  .sub-tab li.active a,
  .sub-tab2 a:hover,
  .sub-tab2 li.active a {
    font-size: 12px;
  }
  .sub-mini-tab {
    margin-left: 0;
  }
  .sub-mini-tab li {
    width: 32%;
    margin: 0.5%;
    padding: 3px;
    font-size: 12px;
    border-radius: 20px;
  }
  .sub-mini-tab a:hover,
  .sub-mini-tab li.active a {
    font-size: 12px;
    border-radius: 15px;
  }
}
