@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  td,
  th {
    @apply px-3 py-2 text-left;
  }
  thead tr {
    @apply border-b border-white;
  }
  tbody tr {
    @apply border-b border-gray-200;
  }
  tbody tr:last-of-type {
    @apply border-b-0;
  }
  tbody {
    @apply bg-gray-100;
  }
  table {
    @apply w-full sm:w-auto bg-gray-300 text-gray-800 rounded-t;
  }
  table.desc tbody tr td:first-of-type {
    @apply bg-gray-200;
  }

  /* label {
    @apply block text-sm font-medium text-gray-700;
  }
  [type='text'],
  [type='password'] {
    @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  } */
}

.tab {
  @apply text-white bg-gray-500 rounded-sm px-3 py-1 cursor-pointer hover:bg-gray-400;
}
.tab.active {
  @apply bg-indigo-500 hover:bg-indigo-400;
}

.btn {
  @apply text-white bg-gray-500 rounded-sm px-3 py-1 cursor-pointer hover:bg-gray-400 text-center;
}

.btn.primary {
  @apply bg-indigo-500 hover:bg-indigo-400;
}

.nav {
  @apply text-lg text-gray-500 border-transparent cursor-pointer text-center w-36;
}
.nav-link {
  @apply text-gray-300 hover:text-white text-center;
}
/*
.nav .sub-nav-list {
  @apply invisible;
}

.nav:hover .sub-nav-list {
  @apply visible;
} */

section {
  scroll-margin-top: 80px;
}
