@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

html {
  @apply bg-main-pattern bg-fixed bg-contain bg-center;
}

/* .main-content {
  @apply bg-main-pattern bg-fixed bg-cover bg-center;
} */

html {
  scroll-behavior: smooth;
}

@layer components {
  td,
  th {
    @apply px-3 py-2.5 text-left;
  }
  thead tr {
    @apply text-gray-900 bg-gradient-to-b from-gold-400 to-gold-600;
  }
  tbody tr {
    @apply even:bg-white odd:bg-gray-200;
  }
  tbody {
    @apply text-gray-700;
  }
  table {
    @apply w-full sm:w-auto text-gray-800 rounded-t overflow-hidden;
  }

  /* label {
    @apply block text-sm font-medium text-gray-700;
  }
  [type='text'],
  [type='password'] {
    @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  } */
}

.tab {
  @apply text-white bg-purple-900 rounded px-4 py-1.5 cursor-pointer text-lg w-32 text-center tracking-wider font-medium border border-white/70;
}
.tab.active {
  @apply bg-yellow-500 text-black;
}

.btn {
  @apply text-white bg-gray-600 rounded px-3 py-2 cursor-pointer hover:bg-gray-500 text-center;
}

.btn.active {
  @apply bg-gold-800 hover:bg-gold-700;
}

.gold-btn {
  @apply bg-gradient-to-br from-gold-500 to-gold-300 p-2.5 text-center rounded text-lg tracking-wider border-2 border-white/50;
}
.silver-btn {
  @apply bg-gradient-to-br from-gray-500  to-gray-300 p-2.5 text-center rounded text-lg tracking-wider border-2 border-white/50;
}

/*
.nav .sub-nav-list {
  @apply invisible;
}

.nav:hover .sub-nav-list {
  @apply visible;
} */

section {
  scroll-margin-top: 80px;
}

.news-tab-light {
  text-shadow: 0 0 4px #9c6b48;
}
/* .text-light {
  text-shadow: 0 0 4px #3b2b1f;
} */

.gold-box {
  @apply bg-gradient-to-br from-gold-300 via-gold-500 to-gold-800 bg-no-repeat bg-center border-2 border-gold-300;
}

.dot {
  @apply w-9 h-9 bg-center cursor-pointer bg-slider-pager;
}
.slick-active .dot {
  @apply bg-slider-pager-active;
}

.title {
  text-shadow: 0 0 4px #3b2b1f;
  @apply text-3xl mb-8 text-gold-400 text-center tracking-widest;
}

.vlr {
  writing-mode: vertical-lr;
}
