@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

html {
  @apply bg-purple-900 bg-fixed;
  scroll-padding-top: 120px;
}

// .bg-cover {
//   @apply bg-gradient-to-br from-black/80 via-black/50 to-black/80 h-full w-full fixed top-0 left-0 -z-1;
// }

.lock {
  @apply overflow-hidden;
}

/* .main-content {
  @apply bg-main-pattern bg-fixed bg-cover bg-center;
} */

* {
  scroll-behavior: smooth;
}

table.gold-table {
  @apply text-gray-800 sm:rounded-t overflow-hidden;

  td,
  th {
    @apply sm:px-3 sm:py-2.5 text-left text-sm sm:text-base;
  }
  thead {
    @apply hidden sm:table-header-group
  }
  thead tr {
    @apply text-gray-900 bg-gradient-to-b from-gold-400 to-gold-600;
  }
  tbody tr {
    @apply even:bg-white odd:bg-gray-200 flex flex-col p-2 sm:p-0 sm:table-row ;
  }
  tbody {
    @apply text-gray-700;
  }
}

.box {
  @apply w-full sm:w-auto text-gray-800 rounded-lg overflow-hidden;
}
.box-title {
  @apply text-gray-900 bg-gradient-to-b from-gold-400 to-gold-600 px-3 py-2.5 font-medium;
}
.box-content {
  @apply p-5 text-gray-700 bg-gray-200;
}

.tab {
  @apply text-white bg-purple-900 rounded px-4 py-1.5 cursor-pointer text-lg w-32 text-center tracking-wider font-medium border border-white/70;
}
.tab.active {
  @apply bg-yellow-500 text-black;
}

.btn {
  @apply text-white bg-gray-600 rounded px-3 h-11 cursor-pointer hover:bg-gray-500  border border-white/30 min-w-[120px] flex justify-center items-center;
}

.btn.btn-sm {
  @apply h-9;
}

.btn.active {
  @apply bg-yellow-500 hover:bg-yellow-400 text-black font-medium;
}
.btn:disabled {
  @apply bg-gray-600 text-gray-400 border-gray-500 hover:bg-gray-600;
}

.orange-btn {
  @apply bg-gradient-to-br from-yellow-600 to-yellow-500 p-2.5 text-center rounded-lg text-lg tracking-wider border-2 border-white/30 cursor-pointer text-white;
}
.silver-btn {
  @apply bg-gradient-to-br from-gray-500  to-gray-300 p-2.5 text-center rounded text-lg tracking-wider border-2 border-white/50;
}
/*
.nav .sub-nav-list {
  @apply invisible;
}

.nav:hover .sub-nav-list {
  @apply visible;
} */

section {
  scroll-padding-top: 80px;
}

.news-tab-light {
  text-shadow: 0 0 4px #9c6b48;
}
/* .text-light {
  text-shadow: 0 0 4px #3b2b1f;
} */

.gold-box {
  @apply bg-gradient-to-br from-gold-300 via-gold-500 to-gold-800 bg-no-repeat bg-center border-2 border-gold-300;
}
.gold-btn {
  @apply bg-gradient-to-br from-gold-300 via-gold-500 to-gold-800 bg-center border-2 border-gold-500 flex rounded-md text-black/90 h-10 items-center justify-center text-shadow text-lg;
}
.silver-btn {
  @apply bg-gradient-to-br from-gray-300 via-gray-500 to-gray-800 bg-center border-2 border-gray-500 flex rounded-md text-white/90 h-10 items-center justify-center text-shadow text-lg;
}

.dot {
  @apply w-9 h-9 bg-center cursor-pointer bg-slider-pager;
}
.slick-active .dot {
  @apply bg-slider-pager-active;
}

.title {
  text-shadow: 0 0 4px #3b2b1f;
  @apply text-3xl mb-8 text-gold-400 text-center tracking-widest;
}

.vlr {
  writing-mode: vertical-lr;
}

.form-box {
  @apply lg:bg-black/50 lg:rounded-xl pb-8 pt-0 lg:pt-8 px-5 lg:border-2 border-gold-500/30;
}

.tab-selector {
  @apply rounded w-full bg-purple-800/80 text-white font-medium border-2 border-white/20 text-lg;
}

.scroll-padding {
  scroll-padding-top: 30px;
}

.frame {
  @apply border-2 border-gold-500/30 rounded-lg;
}

.deposit-btn {
  @apply cursor-pointer hover:scale-105 transition-all;
}

.deposit-btn.disabled {
  @apply hover:scale-100 cursor-not-allowed;
}

.deposit-btn.disabled img {
  @apply grayscale;
}

.rule {
  @apply leading-relaxed text-gray-400 py-8 px-4;
}

.rule .title {
  @apply font-bold text-3xl tracking-wider text-yellow-200 text-center mb-8;
}

.rule ol {
  @apply ml-4 sm:ml-6 list-decimal list-outside;
}
.rule ol ol {
  @apply list-square;
}
.rule ol ol ol {
  @apply list-alpha;
}
.rule strong {
  @apply font-bold text-white;
}

.label-box {
  @apply bg-gradient-to-br from-gold-500 to-gold-200 rounded text-gold-800 px-2 py-1 lg:text-sm text-right font-medium relative border border-gold-200;
}

.news-content {
  h1 {
    @apply text-3xl
  }
  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl
  }
  h4 {
    @apply text-lg
  }
  h5 {
    @apply text-base
  }
  h6 {
    @apply text-sm
  }
}
